{% extends "base_generic.html" %}

{% block content %}
  <h1> {{ article.title }}</h1>

  <p><strong>Categorie:</strong> {{ article.category.name }}</p>


<div class="col-sm-4r">
    <div class="row justifiy-content-start">
        <div class="card" style="width:25rem; margin-top: 20px">
            <img src="{{ article.cover_image_url.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }} </h5>
                <p class="card-text">{{ article.slug }} .</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}