{% extends "base_generic.html" %}

{% block content %}
   <h2>les articles filtrés </h2>
  <ul>
    <li><strong>Articles:</strong> {{ num_articles }}</li>
    <li><strong>Categories:</strong> {{ num_categories }}</li>
  </ul>

<div class="col-sm-4r">

    <div class="row justifiy-content-start">
        {% for article in article_list %}
        <div class="card" style="width:25rem; margin-top: 20px">
            <img src="{{ article.cover_image_url.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }} </h5>
                <p class="card-text">{{ article.category.name }} .</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>




{% endblock %}