<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Bibliothèque locale</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="margin: 25px">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Tous les Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'uneliste' %}">Tous les Articles View</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'categories' %}">Tous les Catégories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <div>
     {% block content %}
     {% endblock %}
 </div>
</body>
</html>




