{% extends "base_generic.html" %}

{% block content %}

   <h2>Liste des categories</h2>


<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 border bg-light">
                <ul>
         {% for category in categories_list %}
              <li> {{ category.name }}  </li>
         {% endfor %}
              </ul>
       </div>
    </div>
  </div>
</div>


{% endblock %}