{% extends "base_generic.html" %}

{% block content %}

   <h2>Liste des commentaires</h2>


<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <%if comment_list %}
        <div class="p-3 border bg-light">

                <ul>
         {% for com in comment_list %}
              <li> {{ com.content }}  </li>
         {% endfor %}
              </ul>
        </div>
        <% else %>
        <div class="p-3 border bg-light">

                <ul>
              <li> "pas d article"  </li>
              </ul>
        </div>

      <% endif %>
    </div>
  </div>
</div>


{% endblock %}