{% extends "base_generic.html" %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Accueil de mon blog</h1>
<p>Bienvenue dans mon blog </p>
<h2>Contenu dynamique</h2>
<p>La blog dispose des enregistrements suivants:</p>
<ul>
    <li><strong>Articles:</strong> {{ num_articles }}</li>
    <li><strong>Categories:</strong> {{ num_categories }}</li>
</ul>
<h2>Liste des articles</h2>

<div class="col-sm-4r">

    <div class="row justifiy-content-start">
        {% for article in articles_list %}
        <div class="card" style="width:25rem; margin-top: 20px">
            <img src="{{ article.cover_image_url.url }}" class="card-img-top">
            <div class="card-body">
                 <a href="{% url 'article-detail' article.id  %}" class="btn btn-primary">

                    {{ article.title }}

                </a>
                <h5 class="card-title">
                    <p class="card-text">{{ article.slug }} .</p></h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}